{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>9块9活动专场</title>
 	    <script src="https://cdn.bootcss.com/popper.js/1.14.7/umd/popper.min.js"></script>
        <script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
        <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
        <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <link href="https://cdn.bootcss.com/bootstrap-table/1.11.1/bootstrap-table.min.css" rel="stylesheet">
        <script src="https://cdn.bootcss.com/bootstrap-table/1.11.1/bootstrap-table.min.js"></script>
        <script src="https://cdn.bootcss.com/bootstrap-table/1.11.1/locale/bootstrap-table-zh-CN.min.js"></script> 
       
<style>
 .top{
     width：100%;
     background-color: #353C44;
     height:40px;
     border-radius:5px;
  }

.table tbody tr td{
      vertical-align: middle;
	  text-align: center;
	  table-layout:fixed;
	  word-break:break-all;
   }
   .bootstrap-table .table thead>tr>th {
                text-align: center;
            }

</style>
</head>
<body>
<div class="top">
   <span style="color:#FFFFFF; margin-left:50px" >9块9活动专场(  网络问题翻页稍等1-2秒)</span>
   <a href="javascript:back_home();" style="float:right;width: 200px;height:40px;color: #fff;background: lightblue;text-align: center;line-height: 40px;text-decoration:none" >返回主页</a>
</div>
<div style="float:left;width:300px;" >
<h3 style="color:red">请先选择推广平台(必填):</h3>
<select id='exclusive' style="width:100%;height:50px"">
<option value=''>选中平台</option> 
		{% for i in tbaok_anzones %}
		<option value='{{ i.account_name }} {{ i.adzone_id }}'>
		{{ i.adzone_name }} {{ i.adzone_id }}</option> 
		{% endfor %}
</select>
</div>
<div style="float:left;margin-left:20px">
<h3 style="color:red">关键词(必填):</h3>
<input type="text" id="keyword" style="height:50px;width: 250px;" placeholder="关键词（必填）" >
</div>
<div style="float:left;margin-left:20px;width:300px;">
<h3 style="color:red">排序方式(选填):</h3>
<select id='category' style="width:100%;height:50px">

<option value=''>选中类别</option> 
		
		<option value='价格降序'>价格降序</option> 
		<option value='价格升序'>价格升序</option> 
		<option value='销量降序'>销量降序</option> 
		<option value='销量升序'>销量升序</option> 
		<option value='淘客佣金降序'>淘客佣金降序</option> 
		<option value='淘客佣金升序'>淘客佣金升序</option> 
</select>
</div>
<div style="float:left;margin-left:20px;width:200px;">
<h3 style="color:red">最高价格(选填):</h3>
<input type="text" id="price" style="height:50px" placeholder="填写最高价格" >
</div>

<button  type="button" style="color:#FFFFFF;background-color:#5BC0DE;border-radius:5px;height:50px;margin-top:60px;margin-left:20px"  onclick="check456()" >点击确定</button>
<span id="regtimes"></span>
	        <table id="mytab"  class="table table-hover"></table>
	        <div id="ling">
	       <table id="mytab1"  class="table table-hover"></table>
             </div>	        
	        <div id="showdiv" style="width: 80%; z-index:99999;margin: 0 auto; height:500px; border: 0px solid #999; display: none;position:fixed; *position:absolute; top:20%; left:10%; margin:-50px 0 0 -50px; background: #fff">
			  <input type="button" onclick="closeWindow()" value="关闭">
			    <div style="text-indent: 50px; height: 500px; padding: 0.5rem; line-height: 1rem;color:black;overflow: scroll; "  id="content"></div>
		  </div>
		  <div id="page" style="float:right"></div>

<script>
var new_page1=1

$(function(){
    initData();
});
function initData(){
	
	$("#page").empty()
	$("#mytab1").empty()
	 $.ajax({
	        type:"POST",  
	        data: {"new_page1":new_page1},
	        url: "{% url 'discounts' %}", //后台处理函数的url 这里用的是static url 需要与urls.py中的name一致
	        cache: false,
	        dataType: "json", 
	        success: function(data){
	        	file="<table  class='table table-bordered' ><thead><th  style='text-align: center;'>商品主图</th><th  style='text-align: center;'>宝贝推广链接</th><th  style='text-align: center;'>佣金比率(%)</th><th  style='text-align: center;'>优惠券信息</th><th  style='text-align: center;'>优惠卷开始时间</th><th  style='text-align: center;'>优惠卷结束时间</th><th style='text-align: center;'>店铺名称</th><th style='text-align: center;'>商品名称</th><th style='text-align: center;'>最后售价</th><th style='text-align: center;'>近30天销量</th><th style='text-align: center;'>操作</th></tr></thead><tbody>"
             		for (var i = 0; i < data["total"].length; i++){
             			file+="<tr><td>"+data["total"][i][0]+"</td><td>"+data["total"][i][1]+"</td><td>"+data["total"][i][2]+"</td><td>"+data["total"][i][3]+"</td><td>"+data["total"][i][4]+"</td><td>"+data["total"][i][5]+"</td><td>"+data["total"][i][6]+"</td><td>"+data["total"][i][7]+"</td><td>"+data["total"][i][8]+"</td><td>"+data["total"][i][9]+"</td><td><a href='javascript:;' class='btn btn-xs blue' onclick=\"exclusive_link(this)\" title='编辑'>点击获取专属链接</a></td></tr>";     	        	
     	        	  
             		}
                 	file+="</tbody></table>"
          	        $("#mytab1").append(file);
                 	file1="<button  onclick='next_page1()'>下一页</button>"
   	          	     $("#page").append(file1);
	        	}
	       }); 
	
	
	
}


function last_page1(){
	$("#mytab1").empty();
	new_page1-=1
	if (new_page1<=1){
		
		new_page1=1
		initData()
	}else{
		initData()
		file="<button onclick='last_page1()'>上一页</button>" 	
		$("#page").append(file);
	}
}
	

function next_page1(){
	$("#mytab1").empty();	
	new_page1+=1;
	initData()
	file="<button  onclick='last_page1()'>上一页</button>" 	
	$("#page").append(file);
}























function exclusive_link(this_obj){
	
    
	
	
	exclusive = document.getElementById("exclusive").value;
	 if (exclusive == '' || exclusive == undefined || exclusive == null){
		 alert('请选择推广平台！！！')
	 }else{
		href=this_obj.parentNode.parentNode.childNodes[1].lastChild.href
		 $.ajax({
		        type:"POST",  
		        data: {'exclusive':exclusive,"link":href},
		        url: "{% url 'get_exclusive_links' %}", //后台处理函数的url 这里用的是static url 需要与urls.py中的name一致
		        cache: false,
		        dataType: "json", 
		        success: function(data){
		        	
		        	
		        	file="<table  class='table table-bordered'><thead><tr><th style='text-align: center;'>高佣二合一链接</th><th style='text-align: center;'>手淘专用淘口令</th><th style='text-align: center;'>短链接</th></tr></thead><tbody><tr><td style='word-break:break-all;width:500px'>"+data["coupon_click_url"]+"</td><td style='text-align: center;'>"+data["tbk_pwd"]+"</td><td style='text-align: center;'>"+data["coupon_short_url"]+"</td></tr></tbody></table>"
	        		$("#content").append(file);		
		        	 $('#showdiv').show();
		        	 
		        	}
		       });     
	 }
	
}



var now_page=1
function check456(now_page){

	document.getElementById('ling').style.display ="none";
	$("#page").empty();
	$("#mytab").empty();
	var exclusive=document.getElementById("exclusive").value;
	var category=document.getElementById("category").value;
	var price=document.getElementById("price").value;
	var keyword=document.getElementById("keyword").value;
	
	datacode={
		"exclusive":exclusive,
		"category":category,
		"price":price,
		"now_page":now_page,
		"keyword":keyword,
	}
	if (exclusive == '' || exclusive == undefined || exclusive == null){
        alert('请选择推广平台！！！')
    }else if( keyword == '' || keyword == undefined || keyword == null){
    	alert('请填写关键词！！！')
    }else{
    	$.ajax({
            type:"POST",  
            data: datacode,
            url: "{% url 'get_nice_all' %}", //后台处理函数的url 这里用的是static url 需要与urls.py中的name一致
            cache: false,
            dataType: "json", 
            success: function(data){
            	file="<table  class='table table-bordered'><thead><th>商品主图</th><th>宝贝推广链接</th><th>佣金比率(%)</th><th>优惠券信息</th><th>优惠卷结束时间</th><th>店铺名称</th><th>商品名称</th><th>最后售价</th><th>近30天销量</th><th>操作</th></tr></thead><tbody>"
             		for (var i = 0; i < data["total"].length; i++){
             			file+="<tr><td>"+data["total"][i][0]+"</td><td>"+data["total"][i][1]+"</td><td>"+data["total"][i][2]+"</td><td>"+data["total"][i][3]+"</td><td>"+data["total"][i][4]+"</td><td>"+data["total"][i][5]+"</td><td>"+data["total"][i][6]+"</td><td>"+data["total"][i][7]+"</td><td>"+data["total"][i][8]+"</td><td><a href='javascript:;' class='btn btn-xs blue' onclick=\"exclusive_link(this)\" title='编辑'>点击获取专属链接</a></td></tr>";     	        	
     	        	  
             		}
             		
                 	file+="</tbody></table>"
          	      $("#mytab").append(file);
                 	 file1="<button  onclick='next_page()'>下一页</button>"
      	        		
          	            $("#page").append(file1);
            	}
              
           });     

    }
	
	
}
function last_page(){
	$("#mytab").empty();
	now_page-=1
	if (now_page<=1){
		
		now_page=1
		check456(now_page)
	}else{
		check456(now_page)
		file="<button onclick='last_page()'>上一页</button>" 	
		$("#page").append(file);
	}
}
function next_page(){
	$("#mytab").empty();	
	now_page+=1;
	alert(now_page)
	check456(now_page);
	file="<button  onclick='last_page()'>上一页</button>" 	
    $("#page").append(file);	

}
function back_home(){
	username="{{ username }}"
	window.location.href="/microblog_user_show?username={{ username }}";
}
function closeWindow() {
	$('#showdiv').hide();  
	$("#content").empty();
    $('#showdiv .content').html("");   
}

</script>

</body>
</html>
<!-- 
$('#mytab1').bootstrapTable({
    {#全部参数#}
    //请求后台的URL（*）或者外部json文件，json内容若为json数组[{"id": 0,"name": "Item 0","price": "$0"},{"id": 1,"name": "Item 1","price": "$1"}]，
    //且键的名字必须与下方columns的field值一样，同时sidePagination需要设置为client或者直接注释掉，这样前台才能读取到数据，且分页正常。
    //当json文件内容为json对象时：{"tota l": 2,"rows": [{"id": 0,"name": "Item 0","price": "$0"},{"id": 1,"name": "Item 1","price": "$1"}]}，
    //分页要写为server，但是server如果没有处理的话,会在第一页显示所有的数据，分页插件不会起作用

    url:"/discounts",     //从后台获取数据时，可以是json数组，也可以是json对象
    dataType: "json",
    method: 'get',                      //请求方式（*）
    toolbar: '#toolbar',                //工具按钮用哪个容器
    striped: true,                      //是否显示行间隔色
    cache: false,                       //是否使用缓存，默认为true，所以一般情况下需要设置一下这个属性（*）
    pagination: true,                   //是否显示分页（*）
    sortable: true,                     //是否启用排序
    sortOrder: "asc",                   //排序方式
   
    sidePagination: "server",           //分页方式：client客户端分页，server服务端分页（*）,数据为json数组时写client，json对象时（有total和rows时）这里要为server方式，写client列表无数据
    pageNumber: 1,                       //初始化加载第一页，默认第一页
    pageSize: 500,                       //每页的记录行数（*）
    pageList: [100],        //可供选择的每页的行数（*）
    search: true,                       //是否显示表格搜索，此搜索是客户端搜索，不会进服务端，所以，个人感觉意义不大#}
    strictSearch: true,
    showColumns: true,                  //是否显示所有的列
    showRefresh: true,                  //是否显示刷新按钮
    minimumCountColumns: 2,             //最少允许的列数
    clickToSelect: true,                //是否启用点击选中行
    
    uniqueId: "ID",                     //每一行的唯一标识，一般为主键列
    showToggle: false,                    //是否显示详细视图和列表视图的切换按钮
    cardView: false,                    //是否显示详细视图
    detailView: false,                   //是否显示父子表
    idField: 'id',          //指定主键
    singleSelect: true,                //开启单选,想要获取被选中的行数据必须要有该参数

	columns: [

		{
            field: 'pict_url',    
            title: '商品主图', 
            width: 120,

        },
		
        {
            field: 'item_url',  　　　　　　//返回数据rows数组中的每个字典的键名与此处的field值要保持一致
            title: '宝贝推广链接',
            width: 200,
        },
        {
            field: 'commission_rate',  
            title: '佣金比率(%)',
            width: 300,
        },
        {
            field: 'coupon_info',
            title: '优惠券信息',
            width: 300,
        },
        {
            field: 'coupon_start_time',
            title: '优惠卷开始时间',
            width: 300,
        },
        {
            field: 'coupon_end_time',
            title: '优惠卷结束时间',
            width: 300,
        },
        {
            field: 'shop_title',
            title: '店铺名称',
            width: 300,
        },
        {
            field: 'title',
            title: '商品名称',
            width: 300,
        },
        {
            field: 'zk_final_price',
            title: '最后售价',
            width: 300,
        },
        {
            field: 'volume',
            title: '近30天销量',
            width: 300,
        },
        {
            field: 'operate',
            title: '操作',
            width: 300,
            align: 'center',
            valign: 'middle',
            formatter: actionFormatter,

         },

       
    ],
    onLoadSuccess: function(data){
         {#获取行数据的状态#}
        console.log(data);
        {#获取所有列表数据#}

        var data=$("#mytab").bootstrapTable("getData");
     
        {#根据每行数据的status值渲染开关#}

    }

    });

function actionFormatter(value, row, index) {
	var id = index; 	
	
	var data = JSON.stringify(row);

	var data_json = JSON.parse(data);
	var result = "";

	result += "<a href='javascript:;' class='btn btn-xs blue' onclick=\"exclusive_link(this)\" title='编辑'>点击获取专属链接</a>";
	
	
	return result;


}

 -->
