 <!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>



file="<p>高佣二合一链接</p>"+data["coupon_click_url"]+"<p>手淘专用淘口令链接</p>"+data["tbk_pwd"]+"<p>短链接</p>"	+data["coupon_short_url"]
					        		

"<table class='table table-hover'><thead><tr><th>高佣二合一链接</th><th>手淘专用淘口令链接</th><th>短链接</th></tr></thead><tbody><tr><td>"+data["coupon_click_url"]+"</td><td>"+data["tbk_pwd"]+"</td><td>"+data["coupon_short_url"]+"</td></tr></tbody></table>"




</body>
</html>