{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
 <head>
        <meta charset="UTF-8" />
        <title>直播选款</title>
 
        <script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
        <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
        <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <link href="https://cdn.bootcss.com/bootstrap-table/1.11.1/bootstrap-table.min.css" rel="stylesheet">
        <script src="https://cdn.bootcss.com/bootstrap-table/1.11.1/bootstrap-table.min.js"></script>
        <script src="https://cdn.bootcss.com/bootstrap-table/1.11.1/locale/bootstrap-table-zh-CN.min.js"></script>
        
<style>
 .top{
     width：100%;
     background-color: #353C44;
     height:40px;
     border-radius:5px;
  }
  .header{
     padding-top:20px
  
  }
   .codding{
   height:20px;
   weight:100px;
   border-radius:5px;
   border:1px #05171A solid;
   }
   .condition{
   padding-left:0px;
   
   }
   
.table tbody tr td{
      vertical-align: middle;
	  text-align: center;
   }
   .bootstrap-table .table thead>tr>th {
                text-align: center;
            }
</style>
 </head>

    <body>
    
<div class="top">


   <span style="color:#FFFFFF; margin-left:50px">直播选款管理</span>
</div>
<div class ="header">
<span>款式编码：</span>
<input type="text" class="codding" id="codding"  placeholder="    例如：A15955">


<span class="condition">季节标签:</span>
<select id="Season_label">
    <option value="00" >==请选择==</option>
    <option value="春">春款</option>
    <option value="夏">夏款</option>
    <option value="秋">秋款</option>
    <option value="冬">冬款</option>
</select>

<span class="condition">款式状态：</span>
<select id="img_state">
    <option value="00" >==请选择==</option>
    <option value="未使用，未上传图片">款式未使用，未上传图片</option>
    <option value="款式未使用，图片已上传">款式未使用，图片已上传</option>
    <option value="已使用，请注意更新">款式已使用，图片已上传</option>
</select>
<input type="button" style="color:#FFFFFF;background-color:#5BC0DE;border-radius:5px;height:30px;"  onclick="check()" value="查询">
</div>
    
        <table id="mytab" class="table table-hover"></table>
        
          <div id="showdiv" style="width: 80%; margin: 0 auto; height:500px; border: 0px solid #999; display: none;position:fixed; *position:absolute; top:20%; left:10%; margin:-50px 0 0 -50px; background: #fff">
			  <input type="button" onclick="closeWindow()" value="关闭">
			    <div style="text-indent: 50px; height: 500px; padding: 0.5rem; line-height: 1rem;color:black;overflow: scroll; "  id="content"></div>
		  </div>
        
    </body>
<script type="text/javascript" >



$('#mytab').bootstrapTable({

			
			    url:"/getdata1",     //从后台获取数据时，可以是json数组，也可以是json对象
			    dataType: "json",
			    method: 'get',                      //请求方式（*）
			    toolbar: '#toolbar',                //工具按钮用哪个容器
			    striped: true,                      //是否显示行间隔色
			    cache: false,                       //是否使用缓存，默认为true，所以一般情况下需要设置一下这个属性（*）
			    pagination: true,                   //是否显示分页（*）
			    sortable: true,                     //是否启用排序
			    sortOrder: "asc",                   //排序方式
			    sidePagination: "server",           //分页方式：client客户端分页，server服务端分页（*）,数据为json数组时写client，json对象时（有total和rows时）这里要为server方式，写client列表无数据
			    pageNumber: 1,                       //初始化加载第一页，默认第一页
			    pageSize: 5,                       //每页的记录行数（*）
			    pageList: [10, 25, 50, 100],        //可供选择的每页的行数（*）
			    search: true,                       //是否显示表格搜索，此搜索是客户端搜索，不会进服务端，所以，个人感觉意义不大#}
			    strictSearch: true,
			    showColumns: true,                  //是否显示所有的列
			    showRefresh: true,                  //是否显示刷新按钮
			    minimumCountColumns: 2,             //最少允许的列数
			    clickToSelect: true,                //是否启用点击选中行
			    uniqueId: "ID",                     //每一行的唯一标识，一般为主键列
			    showToggle: true,                    //是否显示详细视图和列表视图的切换按钮
			    cardView: false,                    //是否显示详细视图
			    detailView: true,                   //是否显示父子表
			    idField: 'project_name',          //指定主键
			    singleSelect: true,                //开启单选,想要获取被选中的行数据必须要有该参数
			
			    //得到查询的参数，会在url后面拼接，如：?rows=5&page=2&sortOrder=asc&search_kw=&_=1564105760651
			    queryParams: function (params) {
			        //这里的键的名字和控制器的变量名必须一直，这边改动，控制器也需要改成一样的
			        var query_params = {
			            rows: params.limit,                         //页面大小
			            page: (params.offset / params.limit) + 1,   //页码
			            sort: params.sort,      //排序列名
			            sortOrder: params.order, //排位命令（desc，asc）
			
			            //查询框中的参数传递给后台
			            search_kw: $('#search-keyword').val(), // 请求时向服务端传递的参数
			        };
			        return query_params;
			    },
			
				columns: [
				
					{
			            field: 'sid',
			            title: '序号',
			            width: 120,

			        },
					
			        {
			            field: 'id',  　　　　　　//返回数据rows数组中的每个字典的键名与此处的field值要保持一致
			            title: '商品图片 款式编码',
			            width: 200,
			        },
			        {
			            field: 'name',
			            title: '库存量 版状态',
			            width: 300,
			        },
			        
			        {
			        	field:'unit_price',
			        	title:'成本价',
			        	width:300,
			        },
			        
			        {
			            field: 'is_delete',
			            title: '商品信息',
			            
			        },
			        {
			            field: 'operate',
			            title: '操作',
			            width: 300,
			            align: 'center',
			            valign: 'middle',
			            formatter: actionFormatter,

			         },
			
			    ],
			    onLoadSuccess: function(data){
		
			        console.log(data);
			
			
			        var data=$("#mytab").bootstrapTable("getData");
			     
			       
			
			    }
			
			});
			
			
			//操作栏的格式化,value代表当前单元格中的值，row代表当前行数据，index表示当前行的下标
			function actionFormatter(value, row, index) {
				var id = index;
				var data = JSON.stringify(row);
				var data_json = JSON.parse(data);
				var result = "";
				result += "<a href='javascript:;' style='background-color:#5BC0DE' class='btn btn-xs green' id='cheak' onclick=\"EditViewById('" + data_json["sid"] + "', view='view')\" title='查看'>查看详细款式</a>";
				{#result += "<a href='javascript:;' class='btn btn-xs blue' onclick=\"EditViewById('" + JSON.stringify(row) + "','" + id + "')\" title='编辑'><span class='glyphicon glyphicon-pencil'></span></a>";#}
				{#result += "<a href='javascript:;' class='btn btn-xs blue' onclick=\"EditViewById('" + row + "','" + id + "')\" title='编辑'><span class='glyphicon glyphicon-pencil'></span></a>";#}
				result += "<a href='javascript:;' style='background-color:#7D56C1;margin-left:2px'  class='btn btn-xs blue'onclick=\"upload('" + data_json["sid"] + "', view='view')\"  title='上传'>上传拍摄图片</span></a>";
				result += "<a href='javascript:;' style='background-color:#E56047;margin-left:2px'  class='btn btn-xs red' onclick=\"use('" + data_json["sid"] + "')\" title='删除'>确认已上传淘宝商品</span></a>";
				return result;
			
			
			}
			 var x=0;
			 var mycars = new Array()
			function EditViewById(id){
				x=x+1;	
			    var index = $.inArray(id,mycars);
			    if(index >= 0){
			    }else{
			    	$.ajax({
				        type:"POST",
				        data: {'id':id},
				        url: "{% url 'Administrator:get_particular' %}", //后台处理函数的url 这里用的是static url 需要与urls.py中的name一致
				        cache: false,
				        dataType: "json",
				        success: function(data){
				        	tables="<table class='table table-hover'><thead><tr><th>序号</th><th>商品编码</th><th>颜色规格</th><th>库存数量</th></tr></thead><tbody>"
				        	for (var i = 0; i < data["list"].length; i++){
				        	
				        		tables+="<tr><td>"+data["list"][i][0]+"</td><td>"+data["list"][i][1]+"</td><td>"+data["list"][i][2]+"</td><td>"+data["list"][i][3]+"</td></tr>"
				        	}
				        	tables+="</tbody></table>"
				        	$("#content").append(tables);
		                    $('#showdiv').show();   
				        },
				        error: function(data){
				            alert("出现未知错误,请联系管理员");
				        }
				    });  
				    	document.getElementById("check").setAttribute("disabled", true);  
			    }
	
				
			}
            function upload(id){
            	
            	$("#content").empty();
            	file="<form action='/picture_upload' method='post' enctype='multipart/form-data'>{% csrf_token %}<input class='upload-file-img' type='file' name='picture' id='personsFile' multiple='multiple' accept='image/*' onchange='uploadImg()'/><input type='hidden' name='id' value='"+id+"'><input type='submit' value='上传'></form> 	"
            	$("#content").append(file);
            	$('#showdiv').show();
            	  
            }
            function uploadImg() {
                var _name, _fileName, personsFile;
                personsFile = document.getElementById("personsFile");
                _name = personsFile.value;
                _fileName = _name.substring(_name.lastIndexOf(".") + 1).toLowerCase();
                
                alert(_name)
                
                if (_fileName !== "png" && _fileName !== "jpg" && _fileName=="") {
                	document.getElementById("personsFile").value=""
                    alert("上传图片格式不正确，请重新上传");
                }
            }
            function cheak_img(path3){
                $.ajax({
		        type:"POST",
		        data: {'codding':path3},
		        url: "{% url 'Administrator:get_all_img' %}", //后台处理函数的url 这里用的是static url 需要与urls.py中的name一致
		        cache: false,
		        dataType: "json",
		        success: function(data){
		        	for (var i = 0; i < data["status"].length; i++){
		        		file="<p>"+data['status'][i][1]+"</p><img  style='width: 200px;margin-left:20px' src='"+data['status'][i][0]+"'><input type='button' id='"+data['status'][i][0]+"' value='删除图片'   onclick='del_picture(this)'>"		
		        		$("#content").append(file);		
		        	}
		        	 $('#showdiv').show();
		        	}
		       });         
            	
            }
            function affirm(){
            	link = document.getElementById("link").value;
            	id = document.getElementById("ids").value;
            	
            	 if (link == '' || link == undefined || link == null){
                     alert("回传商品链接不能为空！！！")
                     
                  }else{
                  	 $.ajax({
      				        type:"POST",
      				        data: {'uid':id,"link":link},
      				        url: "{% url 'Administrator:user_cargo' %}", //后台处理函数的url 这里用的是static url 需要与urls.py中的name一致
      				        cache: false,
      				        dataType: "json",
      				        success: function(data){
      				        	alert(data["status"])
      				        	history.go(0);
      				        	}
      				       });  
                	  
                  }
            	
            	
            }
            function del_picture(obj){
            	
            	var sc_id1 = $(obj).attr('id');
            	$.ajax({
			        type:"POST",
			        data: {"path":sc_id1},
			        url: "{% url 'Administrator:del_picture' %}", //后台处理函数的url 这里用的是static url 需要与urls.py中的name一致
			        cache: false,
			        dataType: "json",
			        success: function(data){
			        	alert(data["status"])
			        
			        	
			        	}
			       });     
            	
            	
            	
            	
            }
            
			function use(id){
				var id=id
				file="<h1>请确认商品已上传淘宝联盟！！！</h1><span>请回传商品链接：</span><input type='hidden' id='ids' value='"+id+"'><input type='text' id='link' style='width:1000px' ><input type='button' onclick='affirm()' value='上传链接'>";	
        		$("#content").append(file);		
				$('#showdiv').show();     
				
				}
			
			function check(){
				
				var codding = document.getElementById("codding").value;  
				var Season_label = document.getElementById("Season_label").value;  
				var img_state = document.getElementById("img_state").value;  
			
				dict1={
					"codding":codding,
					"Season_label":Season_label,
					"img_state":img_state,
				}
				$.ajax({
			        type:"POST",
			        data: dict1,
			        url: "{% url 'Administrator:search' %}", //后台处理函数的url 这里用的是static url 需要与urls.py中的name一致
			        cache: false,
			        dataType: "json",
			        success: function(data){
			        	window.location.href="/bootstrapTable"; 
			        	}
			       });         
			
			}


			function closeWindow() {
				$('#showdiv').hide();  
				$("#content").empty();
			    $('#showdiv .content').html("");   
		  }
			
			

</script>
<script>

</script>

</html>

